<div class="mainDiv">
  <md-card class="mainCard">
    <md-card-title >
       <md-card-title-text layout-align="center center">
        <span class="md-headline">Welcome to chating Application </span>
      </md-card-title-text> 
    </md-card-title>
    <md-card-content>
            <p>
              some random text to convince you to start using this application .... 
            </p>
            <p>
            some random text to convince you to start using this application .... 
            </p>
            <p>
                    some random text to convince you to start using this application .... 
            </p>
     </md-card-content>
    <md-card-actions  layout="row" layout-align="center">
      <md-button class="md-raised md-primary"><a href="login">Click Here to login </a></md-button>
      <md-button class="md-raised md-primary"><a href="register">Click here to signup </a></md-button>
    </md-card-actions>
  </md-card>
</div>
